* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    padding: 30px;
}

header {
    margin-bottom: 20px;
}

.add-task {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.add-task input {
    padding: 8px;
    font-size: 16px;
}

.add-task button {
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.view {
    display: flex;
    gap: 20px; 
    margin-bottom: 20px;
}

.view button {
    padding: 8px 15px;
    cursor: pointer;
}

#list {
    list-style : none;   
    padding: 0;
}

.task-item {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.task-item span {
    flex: 1;
}

.task-item button {
    padding: 5px 10px;
    cursor: pointer;
}

.completed span {
    text-decoration: line-through;
    opacity: 0.7;
    color: grey;
}